<!-- <div class="col-8">
    <ol>
        <li *ngFor="let p of produtos">{{p.desc}}</li>
    </ol>
</div> -->
<!-- <li *ngFor="let p of produtos" [produto]="p" | produtosFiltro : grupoAtivo>
<app-produto [produto] ="p" ></app-produto></li> -->
<!-- <app-produto *ngFor="let p of produtos" [produto]="produto" (grupoClicado)="reciverFeedback($event)"></app-produto> -->


  
<div class="d-flex">
        <div *ngFor="let item of produtos | produtosFiltro:grupoAtivo">
            <app-produto [produto]="item"></app-produto>
        </div>
</div>

