h6 {
    border: 1px solid black;
    padding-left: 1px;
    font-weight: bold;
    background-color: lightskyblue;
}

.card {
    border: black 2px solid;
    height: 100%;
    margin: 2px;
    box-shadow:1px 2px 6px rgb(136, 133, 133);
}

h5 {
    border: solid 1px rgb(0, 0, 0);
    background-color: darkgrey;
    height: 90px;
    font-size: 18px;
}